



沈 阳 药 科 大 学

本 科 毕 业 论 文




　　　论文题目：
　　　起止时间：    年   月   日 -  月   日
　　　学    院：药学院
　　　专业学号：药学专业00000000
　　　学生姓名：
　　　年级班级：2015级药学二班
　　　指导教师：（校内）/（校外）
　　　实习单位：药学院药剂教研室
　　　            东北制药集团开发部(公章)




沈 阳 药 科 大 学
本科毕业论文（设计）任务书
论文题目指导教师职称所在学院教研室学生姓名学号年级、专业、班　　　　　级                         专业     班实习单位(单位公章)主要内容：







任务要求：





预期目标：







进度安排（起止时间）：
















指导教师（签字）：             填表时间：          年     月     日教研室意见：                       教研室主任（签字）：学院意见：                         学院院长（签章）：            下达任务时间：                                          年     月     日
注： 1.任务书应在毕业设计（论文）工作开始前下达。
2. 本表一式二份，学生、指导教师各一份。


沈 阳 药 科 大 学
本科毕业论文（设计）开题报告
论文题目  指导教师职称所在学院教研室学生姓名学号年级、专业、班　　　　级                         专业     班实习单位(单位公章)国内外研究现状：














研究主要内容：









研究方案及思路：





















指导教师（签字）：             填表时间：          年     月     日教研室意见：                       教研室主任（签字）：学院意见：                         学院院长（签章）：            

沈 阳 药 科 大 学
本科毕业论文（设计）中期检查表
论文题目　　指导教师职称　　所在学院教研室　　学生姓名学号　　年级、专业、班　　　　级                         专业     班实习单位(单位公章)学生实验工作情况(选题是否有变化、查阅文献、实验进度、实验完成内容)：



























学生工作态度情况（对毕业论文的认真程度、纪律及出勤情况）：













存在的问题与建议：












　　　　　　　　　　　　　　　　　　　　　　　　　 
　　　　　　　　　　　　　　　　　　　　　　指导教师（签字）：
                                                                年   月    日学院意见(进度、质量、出勤、纪律、教师指导是否到位等)：


                    


              
                                            教学院长（签章）：
                                                                年   月    日
沈 阳 药 科 大 学
本科毕业论文（设计）指导教师成绩评定表
论文题目指导教师职称所在学院教研室学生姓名学号年级、专业、班　　　　　级                          专业     班实习单位(单位公章)指导教师评语（指对学生的思想表现、业务技能、论文完成情况和论文水平等的全面评定，不少于100字）：




















指导教师成绩（满分25分）：                    





　　　　　　　　　　　　　　　　　　指导教师签字：                  年   月   日　　注：本科毕业论文（设计）成绩评定要严格按照标准，从严要求，指导教师成绩评定符合正态分布。
沈 阳 药 科 大 学
本科毕业论文（设计）评阅教师成绩评定表
论文题目指导教师职称所在学院教研室学生姓名学号年级、专业、班　　　　　 级                          专业    班实习单位                   (单位公章)            评阅教师评语（指对论文选题、论文完成质量、论文创新点、论文撰写规范化等的全面评定，不少于100字）：



















评阅教师成绩（满分30分）：                    






　　　　　　　　　　　　　　　　　　评阅教师签字：                   年   月   日　　注：本科毕业论文（设计）成绩评定要严格按照标准，从严要求，评阅教师成绩评定符合正态分布。

沈 阳 药 科 大 学
本科毕业论文（设计）答辩记录及成绩评定表
论文题目指导教师职称所在学院教研室学生姓名学号年级、专业、班　　　    级                      专业      班实习单位(单位公章)答辩小组成员答辩记录（记录学生论文汇报情况、答辩小组成员提问以及学生回答等答辩过程情况）：





























                                    
                                记录人签字：
答辩小组评语（不少于100字）：

















答辩成绩（满分45分）：                   





　　　　　　　　　　　　　　　　答辩小组组长签字：                  年   月   日学院答辩委员会意见（答辩委员会对学生毕业论文的综合评定意见）：







　　　　　　　　　　　　　　　　　　　　　答辩委员会主任委员：            （签章）毕业论文总成绩：




　　　　　　　　　　　　　　　　　　　　
　　　　　　　　　　　　　　　　　答辩委员会主任委员：                （签章）
　　　　　　　　　　　　　　　　　　　　　教研室主任：                （签章）
　　　　　　　　　　　　　　　　　　　　学院教学院长：                （签章）　　注：本科毕业论文（设计）成绩评定要严格按照标准，从严要求；答辩成绩、毕业论文总成绩评定都应符合正态分布。
　　
沈阳药科大学本科生毕业论文撰写要求

   一、基本要求
    毕业论文必须是一篇系统的、完整的学术论文。论文应是学生本人在导师的指导下独立完成的研究成果，不得抄袭和剽窃他人成果。论文的学术观点必须明确，且逻辑严谨，文字通畅。
    二、论文的组成部分和排列顺序
　　论文一般由以下几个部分组成：封面、封页、目录、中英文摘要、正文、参考文献、发表文章目录、致谢等。
    （一）封面、封页
　　论文的封面格式（见式样）。 
    论文题目应当简明扼要地概括和反映出论文的核心内容，一般不宜超过25个字。 
    （二）本科毕业论文任务书
　　（三）目录
　　论文目录是论文的提纲，也是论文各章节组成部分的小标题。
　　（四）摘要
　　应概括地反映出原论文的主要内容，主要说明本论文的研究目的、内容、方法、成果和结论。要突出本论文的创造性成果或新见解，不要与引言相混淆。
　　中文摘要语言力求精炼准确，字数在300字左右。英文摘要内容要与中文摘要内容一致。
　　无论中英文摘要都必须在摘要页的最下方另起一行，注明本文的关键词(3-5个)。
    （五）正文
    正文是论文的主体和核心部分，不同学科专业和不同的选题可以有不同的写作方式。正文一般包括以下几个方面：
    1．引言或绪论
　　引言是论文主体部分的开端，要求言简意赅，不要与摘要雷同或成为摘要的注解。除了说明研究目的、方法、结果等外，还应评述国内外研究现状和相关领域中已有的研究成果；介绍本项研究工作前提和任务，理论依据和实验基础，涉及范围和预期结果以及该论文在已有的基础上所解决的问题。
　　2．实验材料方法
　　详尽列出研究所用材料原料、仪器设备。详尽描述实验方法，以能将实验材料与实验结果贯通为基础，且他人能按所述的方法进行重复实验。
　　3．实验结果 
　　实验结果是论文的核心，它反映了论文水平的高低及其价值，是结论的依据，是形成观点与主题的基础和支柱。包括实验和观测的结果、数据资料、经过加工整理的图表。必须实事求是，客观真切，准确完备，合乎逻辑，层次分明，简练可读。 
　　4．结论
　　结论是学位论文最终和总结的结论，是整篇论文的归宿。应精炼，准确，完整。着重阐述作者研究的成果。
　　5．讨论
　　讨论是把实验结果提高到理论认识的部分。论述本文在选题、方法、结果等方面与过去文献的异同和优劣，并适当评价，并从中引出新的观点、结论，探求新的规律。今后将进一步研究的课题与设想。
　　（六）论文正文内容所占比例
　　1．论文引言或绪言部分不能超过全文的20%；
　　2．论文实验方法和结论部分须占全文的60%-70%；
　　3．论文必须有讨论部分，应占全文的10%-20%。
　　（七）对于工商管理学院各专业学生，毕业设计从事管理学科研究，论文正文部分做如下要求：
1．绪论，本部分不超过全文的20 %。
　　绪论是论文主体部分的开端，要求言简意赅，不要与摘要雷同或成为摘要的注解。绪论中应包括（1）研究背景，介绍为什么进行本论文研究，有何必要性和选题的依据；（2）国内外已有研究综述，介绍国内外相关研究现状和相关领域中已有的研究成果，指出本研究与以往研究相比的进步之处；（3）研究目的与意义，说明研究为了解决什么问题，对那些问题的解决和政策制定等有参考意义等等；（4）研究方法，介绍本研究采用的方法；（5）本论文的研究内容和研究框架。
　　2．各具体章节，依次以第二章、第三章......作为标题。本部分需占全文的60%-70%
    3．结论，本部分不进行章节编号,占全文字数的10-20 %。
　　 结论是学位论文最终和总结的结论，是整篇论文的归宿。应精炼，准确，完整。着重阐述作者研究的创造性成果，对研究结果的适用性和局限性进行阐述，还可进一步提出需要讨论的问题和建议。
　　（八）参考文献
　　学位论文的撰写应本着严谨求实的科学态度，凡有引用他人成果之处，均应按论文中所引用的顺序列于文末。
　　参考文献的著录均应符合国家有关标准（遵照GB7714-87《文后参考文献著录格式》执行）。
　　(九) 致谢：结合整个毕业论文进行总体性、概括性总结，表达出论文思路和收获，表达作者对完成论文学业提供帮助的单位、老师、同学、领导、同事的感激之情。
    三、学位论文的书写、装订要求
　　（一）沈阳药科大学本科毕业论文必须用中文书写。中文用小4号宋体字，英文用"Times New Roman"字体，标题用小4号黑体字，用A4纸打印，延长线装订。
    （二）文中所用单位一律采用国务院发布的《中华人民共和国法定计量单位》，单位名称和符号的书写方式，应采用国际通用符号。
    （三）毕业论文采用全校统一格式（详见附后版面具体要求）。

目录格式如下：
页眉： 沈阳药科大学本科毕业论文(小五，宋体)                                                      目录  
     

目 录

（三号，黑体，居中）

　　中文摘要（小四号，黑体）......................................................1

　　英文摘要（小四号，黑体）......................................................2

　　第1章  绪论（小四号，黑体）................................................3
                1.1 xxxxx(小四，宋体).........................................................3
                1.2 xxxxx(同上)  ...............................................................3


































   摘要格式如下：
页眉： 沈阳药科大学本科毕业论文(小五，宋体)                                              摘要  


摘 要

（三号，黑体，居中）

摘要正文：
（小四，宋体，1.5倍行距）




































    关键词    XXXX，  XXXX， XXXX（小四，宋体）

页眉： 沈阳药科大学本科毕业论文(小五，宋体)                                             英文摘要     -

Abstract

（三号，Times New Roman，居中）

摘要正文：
（小四，Times New Roman，1.5倍行距）





































Keyword   XXXX ，XXXX，XXXX（小四，Times New Roman）
纸型、页码及版心要求：
页眉： 沈阳药科大学本科毕业论文(小五，宋体)                                    第X章XX-----------------------


                 纸  型：A4大小

                 页  码：居中，小五

页边距离：2cm(含页眉及页码)

正文行间距：小四号字要求的1.5倍行距。





































论文正文格式如下：

页眉： 沈阳药科大学本科毕业论文(小五，宋体)                                    第X章XX-----------------------

大标题：第X章  XXX

（三号，黑体，居中）

小标题：1.1  xxxxx（小四号，黑体）

　　正文：XXXXX（小四，宋体）




























页码用阿拉伯数字连续编页，字号5号，页底居中。
                                  

参考文献格式如下：
页眉： 沈阳药科大学本科毕业论文(小五，宋体)                                                   参考文献



参考文献
（小四号，黑体）

期刊格式(五号，宋体，英文用"Times New Roman)
[序号] 作者1，作者2，作者3，等．论文题目[J]．期刊名称，年份，卷号（期数）：起止页码。

会议文献格式
[序号] 作者1，作者2，作者3，等．论文题目[A]．论文集名称[C]．出版地：出版社，年份，起止页码。

图书专著格式：
[序号] 作者1，作者2，作者3，等．书名[M]．出版地：出版社，年份，起止页码。

学位论文格式： 
[序号] 作者．学位论文名称[D]．发表地：学位授予单位，年份。
























致谢格式如下：

页眉： 沈阳药科大学本科毕业论文(小五，宋体)                                                   结束语（致谢）-

致谢
（正文小四号，宋体）
